<div class="titulo">Información de la sección</div>
<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <div class="panel-info">
            <mat-form-field> <!-- ! Usar una clase -->
                <mat-label>Nombre de la sección</mat-label>
                <input matInput formControlName="nombre" />
            </mat-form-field>
            <mat-form-field> <!-- ! Usar una clase -->
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="descripcion" rows="3"></textarea>
            </mat-form-field>
            <mat-label>Disposición </mat-label>
            <mat-radio-group formControlName="direccion">
                <mat-radio-button value="row">
                    En columnas
                </mat-radio-button>
                <mat-radio-button value="column">
                    En filas
                </mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
                <mat-label>Cantidad de </mat-label>
                <input matInput formControlName="nombre"/>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="formGroup.value" cdkFocusInitial>Ok</button>
</div>