<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <div class="opt-campos">
            <mat-form-field>
                <mat-label>Fuente</mat-label>
                <mat-select formControlName="estiloFuente">
                    <mat-option value="Arial">Arial</mat-option>
                    <mat-option value="Verdana">Verdana</mat-option>
                    <mat-option value="Helvetica">Helvetica</mat-option>
                    <mat-option value="Times New Roman">Times New Roman</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tamaño de la fuente</mat-label>
                <input matInput type="number" formControlName="tamanoFuente">
            </mat-form-field>
            <mat-checkbox formControlName="negrita">Negrita</mat-checkbox>
            <mat-checkbox formControlName="cursiva">Cursiva</mat-checkbox>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button class="save" [mat-dialog-close]="formGroup.value" cdkFocusInitial>Guardar</button>
</div>