@import "../../../../styles.scss";

.opt-campos {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.save {
    margin: 20px;
    color: map-get((map-get($primary, contrast)), 500);
    background-color: map-get($primary, 500);
}