<div [formGroup]="seccionesForm">
  <div formArrayName="secciones">
    <div class="row" [style.margin-left]="nivel * 20 + 'px'">Nivel {{ nivel }}</div>
    <div *ngFor="let seccion of seccionesForm.get('secciones')['controls']; let i = index;" [formGroupName]="i">
      <!-- Seccion -->
      <div class="panel-seccion">
        <!-- ! Falta if indexSeccion != 0 (esSubseccion), validar si es posible usar otra cosa  -->
        <div class="panel2"> <!-- TODO: Arregar el panel pa que se vea lindo -->
          <div class="sec-title" style="width: 100%;">
            Sección # {{ i }} Nivel {{ nivel }}
          </div>
        </div>
        <!-- Info de la seccion -->
        <div class="row">
          <div class="panel-info">
            <mat-form-field> <!-- ! Usar una clase -->
              <mat-label>Nombre de la sección</mat-label>
              <input matInput formControlName="nombre" />
            </mat-form-field>
            <mat-form-field> <!-- ! Usar una clase -->
              <mat-label>Descripción</mat-label>
              <textarea matInput formControlName="descripcion" rows="3"></textarea>
            </mat-form-field>
            <mat-label>Disposición</mat-label>
            <mat-radio-group formControlName="direccion">
              <mat-radio-button value="row" (change)="cambiarDireccion(i, $event)">En fila</mat-radio-button>
              <mat-radio-button value="column" (change)="cambiarDireccion(i, $event)">En columna</mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- Campos de cada sección -->
          <div class="sec-content" [style.flex-direction]="seccion.controls.direccion.value"
            *ngIf="seccion.controls.campos" formArrayName="campos">
            <div class="panel-campos" *ngFor="let campo of seccion.controls.campos.controls; let j = index"
              [style.width]="widthCampos(i)">
              <!-- Si es FormGroup, lo toma como campo de texto -->
              <div class="campo-content" *ngIf="!esSubseccion(campo)" [formGroupName]="j">
                <div class="opt-campos">
                  <mat-select placeholder="Fuente" formControlName="estiloFuente">
                    <mat-option value="Arial">Arial</mat-option>
                    <mat-option value="Verdana">Verdana</mat-option>
                    <mat-option value="Helvetica">Helvetica</mat-option>
                    <mat-option value="Times New Roman">Times New Roman</mat-option>
                  </mat-select>
                  <mat-icon>format_size</mat-icon>
                  <input matInput type="number" formControlName="tamanoFuente">
                  <mat-icon>format_bold</mat-icon>
                  <mat-checkbox (change)="actualizarPeso($event,i,j)"></mat-checkbox>
                  <mat-icon>format_italic</mat-icon>
                  <mat-checkbox (change)="actualizarEstilo($event,i,j)"></mat-checkbox>
                </div>
                <textarea formControlName="dataString" [ngStyle]="getStyle(i,j)"></textarea>
              </div>
              <!-- Si es FormArray, lo toma como subsección -->
              <div *ngIf="esSubseccion(campo)" [formGroupName]="j">
                <app-form-secciones [seccionesForm]="campo"></app-form-secciones>
              </div>
              <div class="bt-campos">
                <button *ngIf="!esSubseccion(campo)" mat-icon-button matTooltip="Agregar un campo dinámico">
                  <mat-icon [ngStyle]="iconStyles">input</mat-icon>
                </button>
                <button mat-icon-button class="arr-bt-campo" (click)="intercambioCampo(i,j,j-1)"
                  matTooltip="Disminuir una posición">
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                {{ j }}
                <button mat-icon-button class="arr-bt-campo" (click)="intercambioCampo(i,j,j+1)"
                  matTooltip="Incrementar una posición">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                <button mat-icon-button class="del-bt-campo" (click)="eliminarCampo(i,j)"
                  matTooltip="Eliminar este campo">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="bt-column">
            <button mat-icon-button class="item-icon" (click)="intercambioSeccion(i,i-1)"
              matTooltip="Disminuir una posición">
              <mat-icon [ngStyle]="iconStyles">arrow_upward</mat-icon>
            </button>
            <button mat-icon-button class="item-icon" (click)="intercambioSeccion(i,i+1)"
              matTooltip="Incrementar una posición">
              <mat-icon [ngStyle]="iconStyles">arrow_downward</mat-icon>
            </button>
            <button mat-icon-button class="del-icon" (click)="eliminarSeccion(i)" matTooltip="Eliminar esta sección">
              <mat-icon [ngStyle]="iconStyles">delete</mat-icon>
            </button>
          </div>
        </div>
        <!-- Botones de contenido de la sección -->
        <div class="row">
          <div style="margin-left: 10px;"> <!-- ! Usar una clase y agregar condicion index 0 -->
            <button mat-icon-button (click)="agregarCampo(i)" matTooltip="Agregar campo de texto">
              <mat-icon [ngStyle]="iconStyles">text_fields</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Agregar una imagen">
              <mat-icon [ngStyle]="iconStyles">add_photo_alternate</mat-icon>
            </button>
            <button mat-icon-button class="sec-icon" (click)="agregarSubseccion(i)" matTooltip="Agregar una subsección">
              <mat-icon [ngStyle]="iconStyles">library_add</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="bt-container">
        <!-- ! Falta if indexSeccion != 0 (esSubseccion), validar si es posible usar otra cosa -->
        <button mat-raised-button *ngIf="i === getSeccionesLength()" class="sec-button" (click)="agregarSeccion(i)"
          matTooltip="Agregar una sección">
          <mat-icon>library_add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>