@import "../creacion-plantilla.component.scss";

.row {
    display: flex;
    height: 100%;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

// .mat-mini-fab {
//     margin: 2px;
// }

.mat-delete {
    color: map-get(map-get($primary, contrast), A200);
    background-color: map-get($primary, A200);
}

.mat-item {
    color: map-get(map-get($primary, contrast), 700);
    background-color: map-get($primary, 700);
}

.mat-arrow {
    color: map-get(map-get($primary, contrast), A700);
    background-color: map-get($primary, A700);
}

.delButton {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-button {
    width: 100%;
    height: 100%;
    line-height: 100%;
}

.small-icon {
    font-size: 60%; // Adjust this value to change the size of the icon
    line-height: 47%; // This should be the same as font-size to vertically center the icon
}