@import "../creacion-plantilla.component.scss";

.row {
    display: flex-start;
}

.items {
    display: flex-start;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.secContent {
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: auto;
    border: solid 1px black;
}

.mat-delete {
    color: map-get(map-get($primary, contrast), A200);
    background-color: map-get($primary, A200);
}

.mat-item {
    color: map-get(map-get($primary, contrast), 700);
    background-color: map-get($primary, 700);
}

.mat-arrow {
    margin: 10px;
    color: map-get(map-get($primary, contrast), A700);
    background-color: map-get($primary, A700);
}

.delButton {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-button {
    width: 100%;
    height: 100%;
    line-height: 100%;
}

.small-icon {
    font-size: 80%;
    line-height: 70%;
}