<mat-card class="mat-card-margin">
    <mat-card-title class="plantillas-title">
        Generar plantillas
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="plantillaForm">
            <div class="form-row" style="border: 1px solid #000;"></div>
            <br>
            <div class="panel row">
                <div class="infoGeneral">
                    <div style="margin: 20px;">
                        <mat-form-field *ngIf="plantillaForm">
                            <mat-label>Nombre de la plantilla</mat-label>
                            <input matInput formControlName="nombre">
                        </mat-form-field>
                    </div>
                    <div style="margin: 20px;">
                        <mat-form-field *ngIf="plantillaForm">
                            <mat-label>Tipo de plantilla</mat-label>
                            <select matNativeControl formControlName="tipo">
                                <option *ngFor="let tipo of tiposPlantilla" [value]="tipoSeleccionado">{{ tipo.Nombre }}
                                </option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
                <div style="width: 82%;">
                    <mat-card-title>
                        Secciones
                    </mat-card-title>
                    <app-form-secciones (agregarSecciones)="agregarSecciones($event)"></app-form-secciones>
                </div>
            </div>
            <div class="row">
                <button mat-raised-button class="send" type="button" (click)="generarPlantilla()">
                    Generar
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>