@import "../../../styles.scss";

.plantillas-title {
    text-align: center;
}

.mat-card-margin {
    margin: 20px;
    width: auto;
}

.panel {
    border-color: #f5f5f5;
    margin: 20px;
    box-shadow: 0 0.5rem 2rem 0 rgba(44, 51, 73, 0.1);
}

.form-time mat-form-field {
    margin-left: 32px;
    width: 30%;
}

.table ng2-smart-table {
    text-align: center;
}

.send {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 47%;
    color: white;
    background-color: map-get($primary, 500);
}


.row {
    display: flex;
}

.infoGeneral {
    width: 18%;
}

.plantillaForm {
    width: 82%;
}

.seccion {
    margin: 20px;
    position: relative;
    color: white;
    border: solid 1px black;
}

.section-title {
    text-align: center;
    font-size: medium;
}

.campo {
    margin: 20px;
    position: relative;
    width: auto;
    color: black;
    border: solid 1px black;
    border-radius: 5px;
}

#content {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 47%;
    background-color: map-get($primary, 500);
    color: map-get(map-get($primary, contrast), 500);
}

.secButton {
    background-color: white;
    color: forestgreen;
}

.mat-flat-button {
    margin: 20px;
    position: relative;
    background-color: map-get($primary, 500);
    color: map-get(map-get($primary, contrast), 500);
}

.titulo {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: forestgreen;
}