<mat-card class="mat-card-margin">
    <mat-card-title class="plantillas-title">
        Generar plantillas
    </mat-card-title>
    <mat-card-content>
        <form (submit)="generarPlantilla()" [formGroup]="plantillaForm">
            <div class="form-row" style="border: 1px solid #000;"></div>
            <br>
            <div class="panel row">
                <div class="infoGeneral">
                    <div style="margin: 20px;">
                        <mat-form-field *ngIf="plantillaForm">
                            <mat-label>Nombre de la plantilla</mat-label>
                            <input matInput formControlName="nombre">
                        </mat-form-field>
                    </div>
                    <div style="margin: 20px;">
                        <mat-form-field *ngIf="plantillaForm">
                            <mat-label>Tipo de plantilla</mat-label>
                            <select matNativeControl formControlName="tipo">
                                <option *ngFor="let tipo of tiposPlantilla" [value]="tipoSeleccionado">{{ tipo.Nombre }}
                                </option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="panel plantillaForm">
                    <div class="panel row">
                        <div style="margin: 20px; width: 25%;">
                            <!-- <button style="height: 70%; width: 70%;" color="primary" (click)="agregarSeccion()">agregar
                                    Seccion</button> -->
                            <button mat-button class="secButton" (click)="agregarSeccion()" aria-label="agregarSeccion">
                                Agregar Sección
                                <mat-icon>library_add</mat-icon>
                            </button>
                        </div>
                        <div style="width: 75%;">
                            <div formArrayName="secciones" *ngFor="let seccion of secciones.controls; let i = index">
                                <div [formGroupName]="i">
                                    <!-- <input class="campo" matInput type="text" placeholder="Ingrese el campo"
                                            formControlName="Campo"> -->
                                    <!-- <button (click)="eliminarSeccion(i)">Eliminar Sección</button> -->
                                    <div class="row">
                                        <div style="width: 80%;">
                                            <div class="seccion-title">{{ seccion.Nombre }}</div>
                                            <textarea matInput class="campo" id="campo" rows="2"
                                                formControlName="Campo"></textarea>
                                        </div>
                                        <div style="margin: 20px; width: auto; position: relative;">
                                            <button mat-mini-fab color="warn" (click)="eliminarSeccion(i)"
                                                aria-label="eliminarSeccion">
                                                <mat-icon>clear</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button mat-raised-button class="send" type="submit">Generar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<!-- <div id="content" #content>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Plantilla1</td>
                <td>ActaInicio</td>
                <td>Esta es la plantilla de documento de acta de inicio de un contrato</td>
            </tr>
        </tbody>
    </table>
    <button (click)="crearPDF($event)">Generate PDF</button>
</div> -->