<mat-card class="card-oas">
    <mat-card-title class="plantillas-title">
        <h2>Vista de plantillas</h2>
    </mat-card-title>
    <mat-card-content>
        <div class="table">
            <mat-card class="card-oas">
                <mat-card-title class="plantillas-title">
                    <h2>Plantillas</h2>
                </mat-card-title>
                <mat-card-content>
                    <ng2-smart-table [settings]="plantillasSettings" [source]="dataPlantillas"
                        (custom)="Acciones($event)" (userRowSelect)="plantillaSeleccionada($event)"></ng2-smart-table>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>


<ng-template #accionAprobar let-data>
    <button mat-button type="button">
        <i class="{{ this.data.name === 'Aprobar' ? 'fas fa-check' : 'fas fa-times' }}"></i>
    </button>
</ng-template>

<ng-template #accionRechazar let-data>
    <button mat-button type="button">
        <i class="{{ this.data.name === 'Rechazar' ? 'fas fa-check' : 'fas fa-times' }}"></i>
    </button>
</ng-template>