<mat-card class="card-oas">
    <mat-card-title class="cumplidos-dve-title">
        <h2>Vista de Plantillas</h2>
    </mat-card-title>
    <mat-card-content>
        <div class="table">
            <mat-card class="card-oas">
                <mat-card-title class="cumplidos-dve-title">
                    <h3>Lista de plantillas</h3>
                </mat-card-title>
                <mat-card-content>
                    <ng2-smart-table [settings]="plantillasSettings" [source]="dataPlantillas"
                        (custom)="Acciones($event)" (userRowSelect)="plantillaSeleccionada($event)"></ng2-smart-table>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>